*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    position: relative;
}
:root{
    scroll-behavior: smooth;
}
.header{
    position: relative;
    width: 100%;
    height: 100vh;
   /*  max-width: 1200px; */
 /*    background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(160deg, #0094e956 28%, #80d0c769 99%), url("https://i.ibb.co/RhC9Qnv/Whats-App-Image-2021-07-15-at-5-17-00-PM-Copy.jpg");
}
nav{
    width: 100%;
    height: 55px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    background-color: #1a849c;
    box-shadow: 0px 0px 6px rgba(253, 253, 253, 0.555);
    z-index: 10;
}
nav .logo1{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 50%;
    margin-left: 5px;
}
.logo1 img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding-top: 2px;
}

div a{
    padding: 20px;
    color: white;
    text-decoration: none;
    margin-right: 0px;
}

.container-tittle{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    width: 360px;
    height: 100px;
    border: solid 2px white;
    border-radius: 4px;
    font-family: style script;
    box-shadow: 0px 0px 6px rgba(27, 137, 240, 0.555);
}
.scroll-acerca{
    position: absolute;
    top: 290px;
    left: 400px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    visibility: hidden;

}
.container-tittle h1{
    text-align: center;
    font-size: 3.5rem;
    padding-top: 25px;    line-height: 20px;
    letter-spacing: 2px;
    color: white;
}
.container-tittle h2{
    text-align: center;
    font-size: 2rem;
    color: white;
    letter-spacing: 2px;
}
.AcercaDe{
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 0.1px solid rgba(0, 0, 0, 0);
}
.logo {
   position: absolute;
   height: 200px;
   width: 200px;
    background-color: white;
   border-radius: 50%;
   top: -100px;
   left: calc(50% - 100px);
}
.logo img{
    width: 100%;
    height: auto;
    padding-top: 5px;
    border-radius: 50%;
}
.AcercaDe h2{
    text-align: center;
    padding-top: 140px;
    font-size: 2rem;
    font-family: open sans;
    font-weight: 200;
    color: #4D2F04;
}
.AcercaDe p{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 25px;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: open sans;
    color: #C62347;
}
 .products{
    width: 100vw;
    height: 870px;
    background-color: #e98ea249;
}
.products h1{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 2rem;
    font-family: open sans;
    font-weight: 300;
    color: #4D2F04;
}
.card{
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    height: auto;
    margin: 0px auto 10px;
}
.card .img{
    width: 175px;
    height: 190px;
    margin: 0px auto;
    border-radius: 5px;
    object-fit: cover;
    box-shadow: 0px 0px 6px rgba(52, 66, 80, 0.555);
}
.card-tittle{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 710px;
    height: auto;
    margin: 0px auto 20px;
}
.card-tittle p{
    font-size: 1.6rem;
    color: #289914;
}
.scroll-contacto{
    position: absolute;
    top: -55px;
    left: 400px;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    visibility: hidden; 

}
.contactoMap{
    position: relative;
    width: 100%;
    height: 1200px;
    background-color: white;
}
.title-contacto{
    padding-top: 40px;
    font-size: 2rem;
    font-weight: 300;
    font-family: open sans;
    text-align: center;
    color: #35D3F5;
}
.contacto{
    position: relative;
    width: 500px;
    height: 240px;
    margin: 20px auto;
    border: 1px solid rgba(0, 0, 0, 0);
}
.InputUp{
    position: absolute;
    width: 208px;
    height: 40px;
    border-radius: 3px;
    top: 10px;
    border: 2px solid rgba(60, 140, 206, 0.308);
    box-shadow: 0px 0px 5px #f16e8a86;
    padding-left: 10px;

}
.InputUp:nth-child(1){
    left: 33px;
}
.InputUp:nth-child(2){
    right: 33px;
}
.MensajeDown{
    display: block;
    width: 430px;
    height: 80px;
    margin: 10px auto;
    margin-top: 65px;
    border-radius: 3px;
    border: 2px solid rgba(60, 140, 206, 0.308);
    box-shadow: 0px 0px 5px #f16e8a86;
    padding-left: 10px;
    vertical-align: top;
    
} 
.InputUp::placeholder{
    padding-left: 2px;
}
.MensajeDown::placeholder{
    padding-left: 2px;
}
.contacto button{
    display: block;
    width: 100px;
    height: 35px;
    background-color:#35D3F5;
    margin: 15px auto;
    font-size: 1.8rem;
    font-family: open sans;
    font-weight: 400;
    color: white;
    border-radius: 2.5px;
    border: none;
    box-shadow: 0px 0px 5px #f16e8a86;
    cursor: pointer;
}
.contacto button:hover{
    border: 2px solid rgba(60, 140, 206, 0.308);
    box-shadow: 0px 0px 5px #35D3F5;
}

.inputHover:focus{
    outline: none;
    border: 3px solid rgba(60, 140, 206, 0.308);
    box-shadow: 0px 0px 9px #f16e8a86;
    
}






